doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body 
        h2 Confirma tu cuenta
        p Hola, haz click en el sigeuitne enlace para confirmar tu cuenta, enlace temporal:
        a(href=`${confirmarUtl}`) Confirmar cuenta
        p Si no podes acceder visita: #{confirmarUtl}
        p Si no solicitaste este email, ignoralo