doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body 
        h2 Reestablecer password
        p Hola, haz click en el sigeuitne enlace para reestablecer, enlace temporal:
        a(href=`${resetUrl}`) Resetear password
        p Si no podes acceder visita: #{resetUrl}
        p Si no solicitaste este email, ignoralo